<div class="main">
    {{> sidebar}}
    <div class="bodyContainer">
        <div class="communityInfo">
            <img src="{{community.bannerPic}}" class="bannerPic">
            <div class="communityFloatingContainer">
                <div class="community">
                    <img src="{{community.communityIcon}}" class="communityPic profilePic">
                    <span class="communityName">{{community.communityName}}</span>
                </div>
                <div class="communityOptionsContainer">
                    <div class="communityOptions createPost" onclick="window.location.href='/createPost/{{community.communityName}}'"><i class='bx bx-plus'></i>Create Post</div>
                    <div class="communityOptions join joined" onclick="joinCommunity(this)"><i class='bx bxs-bookmark'></i>Joined</div>
                </div>
            </div>
            <div class="communityDescription">
                <div class="descriptionContent">
                    {{community.description}}
                </div>
                <div class="communityStats">
                    <span class="followers"><i class='bx bxs-group'></i>{{community.members}} Members</span>
                    <span class="posts"><i class='bx bx-note'></i>{{community.posts}} Posts</span>
                </div>
            </div>
        </div>
        {{> sort}}
        <div id="postContainer">
            {{#each posts}}
                {{> post post=this user=../user}}
            {{/each}}
        </div>
    </div>
</div>