<div class="main">
    <div class="bodyContainer">
        <div class="profileInfo">
            <img src="{{profile.bannerImage}}" class="bannerPic">
            <div class="profileFloatingContainer">
                <div class="profile">
                    <img src="{{profile.profileImage}}" class="profilePic">
                    <span class="profileName">{{profile.username}}</span>
                </div>
                {{#if (isEqual profile.username user.username)}}
                    <div class="profileOptions editProfile" onclick="window.location.href='/editProfile'"><i class='bx bx-edit-alt'></i>Edit</div>
                {{else}}
                    {{#if followedUser}}
                    <div class="profileOptions following followed" id="followUser"><i class='bx bxs-bookmark'></i>Followed</div>
                    {{else}}
                    <div class="profileOptions following" id="followUser"><i class='bx bx-bookmark'></i>Follow</div>
                    {{/if}}
                {{/if}}
            </div>
            <div class="profileDescription">
                <div class="descriptionContent">
                    {{profile.bio}}    
                </div>
                <div class="profileStats">
                    <span class="followers"><i class='bx bxs-group'></i>{{profile.followersCount}} Followers</span>
                    <span class="posts"><i class='bx bx-note'></i>{{profile.postsCount}} Posts</span>
                    <span class="comments"><i class='bx bxs-comment'></i>{{profile.commentsCount}} Comments</span>
                </div>
            </div>
        </div>
        {{> sort}}

        {{#each posts}}
            {{> activity this }}
        {{/each}}

    </div>
</div>