<div class="main">
    <div class="bodyContainer">
        <div class="profileInfo">
            <img src="{{profile.bannerImage}}" class="bannerPic">
            <div class="profileFloatingContainer">
                <div class="profile">
                    <img src="{{profile.profileImage}}" class="profilePic">
                    <span class="profileName">{{profile.username}}</span>
                </div>
                {{#if (isEqual profile.profileName user.userName)}}
                    <div class="profileOptions editProfile" onclick="window.location.href='/editProfile/{{profile.username}}'"><i class='bx bx-edit-alt'></i>Edit</div>
                {{else}}
                    <div class="profileOptions following" onclick="followProfile(this)"><i class='bx bx-bookmark'></i>Follow</div>
                {{/if}}
            </div>
            <div class="profileDescription">
                <div class="descriptionContent">
                    {{profile.bio}}    
                </div>
                <div class="profileStats">
                    <span class="followers"><i class='bx bxs-group'></i>{{profile.followersCount}} Followers</span>
                    <span class="posts"><i class='bx bx-note'></i>{{profile.postsCount}} Posts</span>
                    <span class="comments"><i class='bx bxs-comment'></i>{{profile.commentsCount}} Comments</span>
                </div>
            </div>
        </div>
        {{> sort}}
        <div id="postContainer">
            {{#each posts}}
                {{> post post=this user=../user profile=../profile}}
            {{/each}}
        </div>
    </div>
</div>