<div class="main">
    <div class="bodyContainer">
        <div class="communityInfo">
            <img src="{{community.bannerImage}}" class="bannerPic">
            <div class="communityFloatingContainer">
                <div class="community">
                    <img src="{{community.forumImage}}" class="communityPic profilePic">
                    <span class="communityName">{{community.name}}</span>
                </div>
                <div class="communityOptionsContainer">
                    {{#if admin}}
                    <div class="communityOptions edit" onclick="window.location.href='/editForum/{{community.name}}'"><i class='bx bx-edit-alt'></i>Edit</div>
                    {{/if}}
                    <div class="communityOptions createPost" onclick="window.location.href='/createPost/{{community.name}}'"><i class='bx bx-plus'></i>Create Post</div>
                    {{#if joinedCommunity}}
                    <div class="communityOptions join joined" id="joinCommunity"><i class='bx bxs-bookmark'></i>Joined</div>
                    {{else}}
                    <div class="communityOptions join" id="joinCommunity"><i class='bx bx-bookmark'></i>Join</div>
                    {{/if}}
                </div>
            </div>
            <div class="communityDescription">
                <div class="descriptionContent">
                    {{community.description}}
                </div>
                <div class="communityStats">
                    <span class="followers"><i class='bx bxs-group'></i>{{community.membersCount}} Members</span>
                    <span class="posts"><i class='bx bx-note'></i>{{community.postsCount}} Posts</span>
                </div>
            </div>
        </div>
        {{> sort}}
        <div id="postContainer">
            {{#each posts}}
                {{> post post=this user=../user }}
            {{/each}}
        </div>
    </div>
</div>